* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 1200px;
    background-color: red;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    background-color: blue;
}

.slider__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__container {
    /* width: 100%; */
    max-width: 60rem;
    border-radius: 15px;
    overflow: hidden;
}
.slider__line {
    width: calc(100% * 4);
    height: 100%;
    display: flex;
}
.slider__item {
    width: 25%;
    height: auto;
}


